* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

body {
  height: 100vh;
  background: rgb(0,150,136);
  background: linear-gradient(rgba(0,150,136,1) 10%, rgba(218,219,211,1) 10%, rgba(218,219,211,1) 100%); 
  background-repeat: no-repeat;
}

main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 80%;
  height: 95%;
  display: flex;
  background-color: blue;
}
/* CONTACTS */
.container .contacts {
  width: 35%;
  height: 100%;
  background-color: white;
}

.contacts .notify {
  height: 70px;
  background-color: #8EDAFC;
  padding-left: 20px;
  display: flex;
  align-items: center;
}

.contacts .notify .bell {
  height: 50px;
  width: 50px;
  border-radius: 100%;
  background-color: #F2FBFF;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contacts .notify .bell i {
  color: #8EDAFC;
  font-size: 1.5em;
}

.contacts .notify .info {
  margin-left: 10px;
}

.contacts .notify .info .activeNotify {
  color: gray;
  text-decoration: underline;
  cursor: pointer;
}

.contacts .search {
  background-color: #FAFAFA;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contacts .search i {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: gray;
  border-left: 1px solid lightgray;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  height: 80%;
  width: 12%;
}

.contacts .search input {
  width: 85%;
  height: 80%;
  border: 1px solid lightgray;
}

.contacts .cont-contact {
  height: calc(100vh - 246px);
  overflow-y: scroll;
}

.contacts .contact {
  height: 80px;
  width: 100%;
  background-color: white;
  border-bottom: 1px solid lightgray;
  display: flex;
  align-items: center;
}

.contacts .contact:hover {
  background-color: lightgray;
}

.contacts .contact img {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  margin-left: 20px;
}

.contacts .contact .info {
  margin-left: 10px;
}

.contacts .contact .lastMessage {
  font-size: 0.8em;
  color: gray;
}

/* /CONTACTS */

.container .messages {
  width: 65%;
  height: 100%;
  background-color: aqua;
}

/* BAR */
.bar {
  height: 60px;
  padding: 10px;
  background-color: #EAEAEA;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bar:first-of-type {
  border-right: 2px solid #D9D9D9;
}

.bar .user {
  display: flex;
  align-items: center;
}

.bar .user img{
  width: 40px;
  height: 40px;
  border-radius: 100%;
}

.bar .name {
  font-size: 0.9em;
}

.bar .user .info {
  padding-left: 15px;
}

.bar .user .info .connect {
  font-size: 0.8em;
  color: gray;
}

.bar .attachment i {
  padding: 5px;
  cursor: pointer;
  color: gray;
}

.bar .attachment i:hover {
  color: black;
}

/* CHAT */

.messages .chat {
  height: calc(100% - 120px);
  background-image: url(img/mine.jpg);
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  padding-top: 30px;
}

.chat .me {
  width: 90%;
  height: min-content;
  display: flex;
  justify-content: end;
  position: relative;
}

.chat .msn {
  padding: 1.5%;
  width: min-content;
  border-radius: 10px;
  background-color: #D5F9BA;
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
}

.chat .msn i {
  font-size: 0.6em;
  text-align: end;
  color: gray;
  cursor: pointer;
  display: none;
}

.chat .msn i:hover {
  display: block;
}

.chat .msn .hours {
  font-size: 0.6em;
  text-align: end;
  margin-top: 5px;
  color: gray;
}

.chat .people .msn {
  background-color: white;
}

.chat .people {
  width: 90%;
  height: min-content;
  margin-left: 90px;
}

.write {
  font-size: 2em;
  height: 60px;
  background-color: #F3EEEA;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.write i {
  font-size: 0.7em;
  color: gray;
  cursor: pointer;
}

.write i:hover {
  color: black;
}

.write input {
  width: 80%;
  height: 70%;
  border-radius: 4px;
}